
{
  "parser": "babel-eslint",
  "parserOptions": {
  "sourceType": "module",
  "allowImportExportEverywhere": false,
  "codeFrame": false
},
"extends": ["airbnb", "prettier"],
"env": {
  "browser": true,
  "jest": true
},
"rules": {
  "react/react-in-jsx-scope": "off",
  "max-len": ["off"],
  "jsx-a11y/label-has-associated-control": ["off"],
  "react/no-unescaped-entities": ["off"],
  "prefer-promise-reject-errors": ["off"],
  "react/jsx-filename-extension": ["off"],
  "react/prop-types": ["warn"],
  "no-return-assign": ["off"]
}
}